<!-- Modal -->
<div class="modal fade" id="md-sample-movie-list" tabindex="-1" role="dialog" aria-labelledby="md-sample-movie-list-label" aria-hidden="true" th:fragment="modal-movies">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="md-friend-list-label">Movies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">
            <strong>All Movies</strong>
          </li>
          <li class="list-group-item text-left" th:each="movie : ${sampleMovies}" th:text="${movie.getTitle()}"></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>